#navbar-wrapper {
  padding: 20px 15px 0;

  .affix {
  	top: 0;
  	width: 100%;
  	left: 0;
  	right: 0;
  	z-index: 9999 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

  	&+.container {
  		padding-top: 70px;
  	}
  }
}

.contact_phone_wr {
	margin-top: 10px;

	@media(min-width: 768px) and (max-width: 1023px){
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.contact_phone {
	font-size: 20px;
	color: $color_1;
	font-weight: 570;
	text-align: right;
	margin-right: 18px;
}

.social_icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: calc(48px*4);
	float: right;
	padding-right: 22px;

	a {
		display: inline-flex;
		margin-right: 8px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	@media (min-width: 768px) and (max-width: 1023px) {
		float: left;
		text-align: center;
		width: 100%;
		max-width: 100%;
		justify-content: center;
	}
}